<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="co.id.myselfapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.myselfapp">
        <activity
            android:name="co.id.myselfapp.OnBoardingActivity"
            android:exported="false" />
        <activity
            android:name="co.id.myselfapp.SplashScreenActivity"
            android:exported="false" />
        <activity
            android:name="co.id.myselfapp.DailyActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyC7zXofnEw6UbnVUh06Kb85nf6Lk8Bp2G0" />

        <activity
            android:name="co.id.myselfapp.HomeActivity"
            android:exported="false" />
        <activity
            android:name="co.id.myselfapp.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>